.my-card1[data-v-8deaed4c]{width:90%;max-width:500px}.my-card[data-v-07b533d2]{width:100%;max-width:700px}.q-badge[data-v-07b533d2]{font-size:18px;padding:10px 15px}.my-card1[data-v-07b533d2]{width:90%;max-width:500px}